:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  padding: 0 0.25rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
}

nav {
  background-color: #a1e6a2;
}

nav a {
  margin: 0;
  padding: 0 0.25rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

li:hover {
  background-color: rgb(250, 235, 215);
}

.visible {
  display: block;
}

.hidden {
  display: none;
  visibility: hidden;
}

.added {
  display: block;
  background-color: rgb(97, 236, 97);
  padding: 0.25rem;
  border-radius: 5px;
}
